@import url('https://fonts.googleapis.com/css?family=Dosis|Shrikhand');
body {
    background-color: #3f3f3f;
    font-family:'Dosis', sans-serif;
    height: 100%;
}
* {
    margin: 0px;
}
ul.ui-autocomplete {
    list-style: none;
    list-style-type: none;

}

/*Navbar changes*/
.navbar-default{
   background-color: #54428E;
   border: none;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #8963BA;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #8963BA;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #8963BA;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #8963BA;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.changethings{

}
.changethings:active,
.changethings:hover{
    color: white;
    background-color: #8963BA;
}
/*Footer Changes*/
.footer{
    margin-top: 5em;
    background-color: #54428E;
}
.footer .col-sm-6{

    
}
.links{
}
.links li{
    list-style-type: none;
}
.links li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}
.links li a:active,
.links li a:hover{
    color: #8963BA;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}
.center-block{
        display: block;
    margin-left: auto;
    margin-right: auto;
}
.copyright{
    background-color: #8963BA;
    margin: 0px;
    text-align: center;
}

/* HomepageChanges */
.para{
    text-align: center;
    color: white;
    font-size: 1.1em;
}
.welcome{
    font-family: 'Shrikhand', cursive;
    color: white;
    text-align: center;
    font-size: 4.5em;
    margin: 0px;
    padding: 0px;
}
.gamename{
    display: block;
    float: left;
    width: 80%;
    margin: 0px;
    border: none;
    height: 40px;
    font-size: 2em;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-bottom: 5px solid #54428E;
}
.gamename:focus{
    outline:none;
}
.searchGame{
    display: block;
    float: left;
    width: 20%;
    border: 0;
    height: 40px;
    font-size: 1.5em;
    background-color: white;
}
.searchGame:active{
    border: none;
    outline: none;
    background-color: #54428E;
    color: white;
}
.searchGame:focus{
    outline: 0;
}

.Content{
    background-color: #8963BA;
    padding: 10px;
}
.glyphicon-heart {
    font-size: 14em;
}
.iconschange{
   display: block;
    text-align:center;
    color: white;
}
.ui-menu-item{
    background-color: rgba(0,0,0,0.2);
    color: white;
    border: none;
}
#ui-id-1{
    border: none;
    background-color:rgba(0,0,0,0.2);
}
#topgames{
    margin-top: 100px;
}

.setInline{
  float: left;
}

/* signup page */
.roundborder{
   border-radius: 2px;
}
.displayblock{
    display: block;
}
.changeSignup{
    color: white;
}
.changeSignup .row .col-sm-8{
    background-color:#8963BA;
    padding: 50px;
}
.changeSignup .row .col-sm-4{
    background-color: #54428E;
    padding: 10px;
    
}
.changeSignup .row .col-sm-4 h2{
    font-family: 'Shrikhand', cursive;
    font-size: 1.5em;
}
/*Register Page*/
.force{
    width: 100% !important;
}
/*Chat page*/
.boxinnershadow{
    box-shadow: inset 0 0 10px #000000;
    height: 500px;
}
.chatbox{
    width: auto;
    height: 500px;
    padding: 25px;
    margin: 20px;
    box-shadow 0 3px #ccc;
}
.chatlogs{
    padding: 10px;
    width: 100%;
    height: 450px;
 

}
/* Media Queries */
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 360px) {
    .glyphicon-heart {
        font-size: 10em;
    }
    #welcome{
        font-size: 3em;
    }
    #para{
        font-size: 0.7em;
    }
    .ui-menu-item{
        font-size: 0.7em;
    }
    .links li a{
        font-size: 0.8em;
        text-align:center;
        margin: 0.1em;
    }
    .force{
        width: 100% !important;
        font-size: 1em;
    }
    
}
@media only screen
and (max-width : 750px)
{   
      .links{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        
    }
     .links li{
        display: inline-block;
        
    }
    .links li a{
        text-align:center;
        margin: 0.1em;
    }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
   
}
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
}
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
}

