@* Added by Arturs Timofejevs *@
@model tpme.Models.searchGameName
@{
    ViewBag.Title = "TP-ME";
}

@using (Html.BeginForm("GET", "Game", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
<div class="Content">
    <a class="iconschange" href="#">
        <span class="glyphicon glyphicon-heart"></span>
    </a>
    <h1 class="welcome">Welcome</h1>

    <p class="para">Search for the game you wish to play and you'll be connected to another person!</p>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">

            @Html.TextBoxFor(m => m.gameName, new { @class = "gamename", @id = "gamename1" })
            
            <a href="@Url.Action("Chat", "Home")" class="searchGame">GO</a>  
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>
</div>
}
<div class="Content">
    <div id="topgames" class="row">
        <p class="para">
            Top 3 games that people look to find a budy for!
        </p>
        <div class="col-sm-4">
            <img src="~/Images/IMG_205882.jpg" class="img-responsive" />
            
        </div>
        <div class="col-sm-4 divimg">
            <img src="~/Images/morgana-vs-ahri-league-of-legends-28226-1920x1080.jpg" class="img-responsive" />
        </div>
        <div class="col-sm-4 divimg">
            <img src="~/Images/overwatch-all-heroes-wallpaper-hd.jpg" class="img-responsive" />
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
